<%= form_for @habit do |f| %>
    <div class = 'row'>
      <div class = "input-field col s12">
        <%= f.text_field :name, placeholder: 'Habit', autofocus: true %>
        <%= f.label :name %>
      </div>
    </div>

    <div class = "input-field col s12">
      <%= f.number_field :times_to_completion, placeholder: '30 days' %>
      <%= f.label :times_to_completion %>
    </div>

     <div class = 'row'>
      <div class = "input-field col s12">
        <%= f.submit 'Save', class: 'btn' %>
      </div>
     </div>

<% end %>
